.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

header {
  min-height: 3em;
  -webkit-box-shadow: 0px 10px 30px -20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 30px -20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 80;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

main .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

footer {
  min-height: 3.7em;
  -webkit-box-shadow: 0px -10px 30px -20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -10px 30px -20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.btn-back {
  padding: 1em;
  font-size: 1.2em;
  color: #425461;
}

.cta {
  display: inline-block;
  color: #425461;
  border: thin #425461 solid;
  border-radius: 2em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2.5em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.cta:hover {
  color: #FFFFFF;
  background-color: #425461;
}

.cta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-split--left {
  display: block;
  color: #425461;
  border: thin #425461 solid;
  border-radius: 2em 0  0 2em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2.5em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.cta-split--left:hover {
  color: #FFFFFF;
  border: thin #425461 solid;
  background-color: #425461;
}

.cta-split--right {
  display: block;
  color: #FFFFFF;
  background-color: #425461;
  border: thin #425461 solid;
  border-radius: 0 2em 2em 0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2.5em;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.cta-split--right:hover {
  color: #FFFFFF;
  border: thin #761925 solid;
  background-color: #761925;
}

.cta-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
}

.cta-round a {
  text-decoration: none;
  display: block;
}

.cta-round i {
  padding: 0.4em 0.45em;
  font-size: 1.2em;
  border: 3px #425461 solid;
  border-radius: 50%;
  color: #425461;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.cta-round:hover i {
  color: #FFFFFF;
  background-color: #425461;
}

form .form-group {
  text-align: center;
}

form .form-group:first-child {
  margin-top: 2em;
}

form .form-group:last-child {
  margin: 1em 0;
}

form .form-group input[type="text"], form .form-group input[type="password"] {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
  background-color: transparent;
  border: 0;
  border-bottom: thin #34393D solid;
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: #34393D;
  font-family: "Roboto Condensed", sans-serif;
}

form .form-group input[type="text"]:focus, form .form-group input[type="password"]:focus {
  outline: none;
}

form .form-group input[type="submit"] {
  margin: auto;
  background-color: transparent;
  color: #425461;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

form .form-group input[type="submit"]:hover {
  background-color: #425461;
  color: #FFFFFF;
}

form .form-group label {
  color: #34393D;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.6em;
}

.user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ededed;
  padding: 0.4em;
  border-radius: 1.9em;
  border: thin #FFFFFF solid;
  margin: 1em 0 0 0;
}

.user-input input {
  background-color: transparent;
  border: 0;
  padding-left: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: block;
  font-family: "Roboto Condensed", sans-serif;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
}

.card .card-image {
  min-height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
}

.card .card-content h3 {
  padding: 0.5em;
}

.card .card-content p {
  padding-top: 0;
  font-size: 0.65em;
}

.dash-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #DADADA;
  border-bottom: 0.125em solid #FFFFFF;
}

.dash-header h1 {
  margin: 0 auto;
  display: block;
  font-size: 1.25em;
}

.l-divider--after {
  position: relative;
}

.l-divider--after::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: #FFFFFF 0.125em solid;
}

.l-divider--before {
  position: relative;
}

.l-divider--before::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: #FFFFFF 0.125em solid;
}

.l-fixed-width--19 {
  max-width: 19em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: #425461;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.06em;
}

h5 {
  color: #425461;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
}

p {
  color: #34393D;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  text-align: center;
}

a {
  font-size: 0.9375em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #34393D;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

header {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .i-logo {
  height: 1.8em;
}

header .i-music {
  cursor: pointer;
}

header .i-settings {
  margin-left: 1em;
  cursor: pointer;
}

footer {
  background-color: #FFFFFF;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

footer .i-chat {
  position: relative;
}

footer .i-chat:after {
  content: '5';
  font-size: 0.8em;
  background-color: #761925;
  color: #FFFFFF;
  position: absolute;
  right: -0.9rem;
  bottom: -0.4rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #FFFFFF solid;
}

main {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.015) 45%, rgba(0, 0, 0, 0.015) 55%, rgba(0, 0, 0, 0) 55%), linear-gradient(#F2F2F2, rgba(0, 0, 0, 0));
  background-size: 0.7em 0.7em, cover;
}

main .container {
  padding: 1em;
}

main .container-padding--0 {
  padding: 0;
}

main .container-content {
  padding: 0 1em 1.5em 1em;
  text-align: center;
}

nav {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.015) 45%, rgba(0, 0, 0, 0.015) 55%, rgba(0, 0, 0, 0) 55%), linear-gradient(#F2F2F2, rgba(0, 0, 0, 0));
  background-size: 0.7em 0.7em, cover;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 90;
  text-align: left;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  overflow-y: scroll;
}

nav .dash-header h1 {
  margin: 0 calc(50% - 3.8em);
}

nav > div:last-child {
  text-align: center;
  padding: 2em 0 3em 0;
}

nav > div:last-child p {
  margin: 0;
  font-size: 0.7em;
}

nav > div:last-child h4 {
  margin: 0.2em 0 1em 0;
  font-size: 0.9em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  color: #34393D;
  text-decoration: none;
  border-bottom: 0.125em solid #FFFFFF;
}

nav ul a i {
  padding: 0;
}

nav .back {
  padding: 1rem;
}

nav.hide {
  left: -100%;
}

.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .you-matter {
  margin: 2em auto 2.8em auto;
  width: 8.5em;
}

.signup .container-padding--0 > div:first-of-type .logo {
  width: 7.8em;
}

.signup .container-padding--0 > div:first-of-type a {
  font-size: 0.7em;
  text-align: center;
  text-decoration: none;
  display: block;
}

.signup .container-padding--0 > div:last-of-type {
  margin-top: 1em;
}

.signup .container-padding--0 > div:last-of-type p {
  margin: 0;
}

.signup .container-padding--0 > div:last-of-type a {
  margin: 1em auto;
}

.signup .container-padding--0 .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup .container-padding--0 .cta-image {
  width: 1.75em;
  margin-right: 0.5em;
}

.greeting .container-content {
  padding-bottom: 3em;
}

.greeting .heading-kiaora {
  margin: 0 auto 1.5em auto;
}

.greeting h5 {
  margin: 1em 0;
}

.greeting .content-image {
  width: 19em;
  height: 19em;
  margin: auto;
  padding-top: 2em;
  position: relative;
}

.greeting .content-image::after {
  content: '';
  background-image: url(./assets/bg-face.svg);
  background-size: cover;
  background-position: center top;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.greeting .content-image h2 {
  margin: 0;
}

.greeting .content-image p {
  font-weight: 300;
  width: 80%;
  margin: auto;
  padding-top: 0.5em;
}

.greeting .content-image p span {
  font-style: italic;
}

.support .container-content:first-of-type h3 {
  padding-top: 0;
}

.support .container-content:last-of-type {
  padding-bottom: 3em;
}

.support h3 {
  padding: 1em;
  margin: 0;
}

.support h5 {
  margin: 0;
  padding: 0;
}

.support p {
  width: 80%;
  margin: auto;
  padding-top: 1em;
}

.support .cta {
  margin-top: 2em;
}

.challenge .container-content {
  padding-bottom: 1em;
}

.challenge .container-content:first-of-type h3 {
  padding-top: 0;
}

.challenge h3 {
  padding: 1em;
  margin: 0;
}

.challenge h5 {
  margin: 0;
  padding: 0;
}

.challenge p {
  width: 80%;
  margin: auto;
  padding-top: 1em;
}

.challenge .skip {
  display: block;
  text-decoration: none;
  font-size: 0.75em;
  margin-top: 1em;
}

.challenge .challenge-select {
  margin: 0 0.8em;
}

.challenge .challenge-select .card-item:nth-child(1) .card-content {
  height: 4em;
}

.challenge .challenge-select .card-item:nth-child(2) .card-content {
  height: 5.5em;
}

.challenge .challenge-select .card-item:nth-child(3) .card-content {
  height: 7.6em;
}

.challenge .challenge-select .card-content {
  background-color: #425461;
  border-radius: 0 0 2em 2em;
  max-width: 3.7em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 1em;
}

.challenge .challenge-select .card-content h3 {
  color: #FFFFFF;
  padding: 0;
  font-size: 1.8em;
  line-height: 100%;
}

.challenge .challenge-select .card-content p {
  color: #FFFFFF;
  margin: 0 auto;
  text-transform: uppercase;
}

.challenge .cta {
  margin-top: 1em;
}
/*# sourceMappingURL=style.css.map */