$main-color: #425461;
$dark-color: #34393D;
$light-color: #FFFFFF;
$light-color-20: #F2F2F2;
$light-color-40: #DADADA;
$accent-color-dark: #761925;
$accent-color-light: #EFE9C2;

$bg-linear-gradient: 180deg, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%;

$main-font: 'Roboto Condensed', sans-serif;

@mixin bg-gradient {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.015) 45%, rgba(0, 0, 0, 0.015) 55%, rgba(0, 0, 0, 0) 55%), linear-gradient($light-color-20, rgba(0, 0, 0, 0));
    background-size: 0.7em 0.7em, cover;
}

@mixin main-font($weight) {
    font-family: $main-font;
    font-weight: $weight;
}

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

//app layout module

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
        min-height: 3em;
        box-shadow: 0px 10px 30px -20px rgba(0,0,0,0.2);
        position: relative;
        z-index: 80;
    }

    main {
        flex: 1 0 auto;
        position: relative;
        .container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
    }

    footer {
        min-height: 3.7em;
        box-shadow: 0px -10px 30px -20px rgba(0,0,0,0.2);
        position: relative;
    }

    .btn-back {
        padding: 1em;
        font-size: 1.2em;
        color: $main-color;
    }

    .cta {
        display: inline-block;
        color: $main-color;
        border: thin $main-color solid;
        border-radius: 2em;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1em 2.5em;
        transition: ease 0.3s all;

        &:hover {
            color: $light-color;
            background-color: $main-color;
        }
    }

    .cta-wrapper {
        @include flex(center, center)
    }

    .cta-split--left {
        display: block;
        color: $main-color;
        border: thin $main-color solid;
        border-radius: 2em 0  0 2em;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1em 2.5em;
        transition: ease 0.3s all;

        &:hover {
            color: $light-color;
            border: thin $main-color solid;
            background-color: $main-color;
        }
    }

    .cta-split--right {
        display: block;
        color: $light-color;
        background-color: $main-color;
        border: thin $main-color solid;
        border-radius: 0 2em 2em 0;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1em 2.5em;
        transition: ease 0.3s all;

        &:hover {
            color: $light-color;
            border: thin $accent-color-dark solid;
            background-color: $accent-color-dark;
        }
    }

    .cta-add {
        @include flex(center, center);
        width: 42px;
        height: 42px;

        a {
            text-decoration: none;
            display: block;
        }

        i {
            padding: 0.4em 0.45em;
            font-size: 1.2em;
            border: 3px $main-color solid;
            border-radius: 50%;
            color: $main-color;
            transition: ease 0.3s all;
        }

        &:hover {
            i {
                color: $light-color;
                background-color: $main-color;
            }
        }
    }

    form {
        .form-group {
            text-align: center;

            &:first-child {
                margin-top: 2em;
            }

            &:last-child {
                margin: 1em 0;
            }

            input[type="text"], input[type="password"] {
                width: 100%;
                box-sizing: border-box;
                line-height: 150%;
                background-color: transparent;
                border: 0;
                border-bottom: thin $dark-color solid;
                padding: 0.5em ;
                margin-bottom: 0.5em;
                color: $dark-color;
                font-family: $main-font;

                &:focus {
                    outline: none;
                }
            }

            input[type="submit"] {
                margin: auto;
                background-color: transparent;
                color: $main-color;
                font-family: $main-font;
                transition: ease 0.3s all;

                &:hover {
                    background-color: $main-color;
                    color: $light-color;
                }
            }

            label {
                color: $dark-color;
                font-family: $main-font;
                font-size: 0.6em;
            }
        }
    }

    .user-input {
        @include flex(space-between, center);
        background-color: darken($light-color-20, 2%);
        padding: 0.4em;
        border-radius: 1.9em;
        border: thin $light-color solid;
        margin: 1em 0 0 0;

        input {
            background-color: transparent;
            border: 0;
            padding-left: 1em;
            flex: 1 0 auto;
            display: block;
            font-family: $main-font;
        }
    }

    .l-divider--after {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border: $light-color 0.125em solid;

        }
    }

    .l-divider--before {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border: $light-color 0.125em solid;

        }
    }

    .l-fixed-width--19 {
        max-width: 19em;
    }

    .l-italics {
        font-style: italic;
    }

    .l-padding-top--0 {
        padding-top: 0;
    }

    .l-padding-top--1 {
        padding-top: 1em;
    }

}

//global setting

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: $main-color;
    @include main-font(400);
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

h3 {
    font-size: 1.06em;
}

h5 {
    color: $main-color;
    @include main-font(300);
    font-size: 0.9em;
}

p {
    color: $dark-color;
    @include main-font(400);
    font-size: 0.75em;
    text-align: center;
}

a {
    font-size: 0.9375em;
    @include main-font(400);
    color: $dark-color;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

//header setting

header {
    background-color: $light-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    
    & > div {
        display: flex;   
    }

    .i-logo {
        height: 1.8em;
    }

    .i-music {
        cursor: pointer;
    }

    .i-settings {
        margin-left: 1em;
        cursor: pointer;
    }
}

//footer setting

footer {
    background-color: $light-color;
    color: $light-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;


    .i-chat {
        position: relative;

        &:after {
            content: '5';
            font-size: 0.8em;
            background-color: $accent-color-dark;
            color: $light-color;
            position: absolute;
            right: -0.9rem;
            bottom: -0.4rem;
            padding: 0.1rem 0.5rem;
            border-radius: 0.5rem;
            border: 0.1rem $light-color solid;
        }
    }
}

//main setting

main {
    @include bg-gradient();
    .container {
        padding: 1em;
    }

    .container-padding--0 {
        padding: 0;
    }

    .container-content {
        padding: 0 1em 1.5em 1em;
        text-align: center;
    }
}

//nav setting

nav {
    @include bg-gradient();
    background-color: $light-color;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 90;
    text-align: left;
    transition: ease 0.3s all;
    overflow-y: scroll;

    & > div:first-child {
        @include flex(flex-start, center);
        text-align: center;
        background-color: $light-color-40;
        border-bottom: 0.125em solid $light-color;

        h1 {
            margin: 0 calc(50% - 3.8em);
            // transform: translate(-30%);
            display: block;
            font-size: 1.25em;
        }
    }

    & > div:last-child {
        text-align: center;
        padding: 2em 0 3em 0;

        p {
            margin: 0;
            font-size: 0.7em;
        }

        h4 {
            margin: 0.2em 0 1em 0;
            font-size: 0.9em;
        }
    }

    ul {
        margin:0;
        padding:0;
        list-style-type:none;
        text-align: left;

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            color: $dark-color;
            text-decoration: none;
            border-bottom: 0.125em solid $light-color;

            i {
                padding: 0;
            }
        }
    }

    .back {
        padding: 1rem;
    }

    &.hide {
        left: -100%;
    }

}

//style specific to home page

.home {
    .container {
        @include flex(center, center);
    }
        
    .you-matter {
        margin: 2em auto 2.8em auto;
        width: 8.5em;
    }
}

//style specific to signup page

.signup {
    .container-padding--0 {
        & > div:first-of-type {
            .logo {
                width: 7.8em;
            }

            a {
                font-size: 0.7em;
                text-align: center;
                text-decoration: none;
                display: block;
            }
        }

        & > div:last-of-type {
            p {
                margin: 0;
            }

            a {
                margin: 1em auto;
            }
        }

        .cta {
            @include flex(center, center);
        }

        .cta-image {
            width: 1.75em;
            margin-right: 0.5em;
        }
    }
}

//style specific to greeting page

.greeting {
    .container-content {
        padding-bottom: 3em;
    }

    .heading-kiaora {
        margin: 0 auto 1.5em auto;
    }

    h5 {
        margin: 1em 0;
    }

    .content-image {
        width: 19em;
        height: 19em;
        margin: auto;
        padding-top: 2em;
        position: relative;

        &::after {
            content: '';
            background-image: url(./assets/bg-face.svg);
            background-size: cover;
            background-position: center top;
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        h2 {
            margin: 0;
        }

        p {
            font-weight: 300;
            width: 80%;
            margin: auto;
            padding-top: 0.5em;
        }
    }
}

//style specific to support page

.support {
    h3 {
        padding: 1em;
        margin: 0;
    }

    h5 {
        margin: 0;
        padding: 0;
    }

    p {
        width: 80%;
        margin: auto;
        padding-top: 1em;
    }

    .cta {
        margin-top: 2em;
    }
}